html {
    font-size: 12px;
}

body {
    background-color: rgba(255, 255, 255, 0.97);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-style: italic;
    letter-spacing: .5px;
    margin: 1rem 0;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 2rem;
    margin: 0.8rem 0;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    margin: .6rem 0;
    text-align: center;
}

.img-container {
    margin: 0 auto;
    width: 90%;
}

.seed-card-img {
    display: block;
    max-width: 600px;
    margin: 1.5rem auto;
    width: 100%;
}

.social-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.social-flex {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-img {
    width: 75%;
}

.social-link-div {
    background-color: black;
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 10px 15px;
}